---
layout: page
title: "Passez au niveau supérieur !"
---

<div class="container">
  <br />
  <div class="well text-center">
    <h1><i class="fa fa-line-chart" aria-hidden="true"></i> Passez au niveau supérieur !</h1>
    <br />
    <h5>Des webinaires complètement illimités pour booster votre business comme jamais. </h5>
  </div>

    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <br />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="col-sm-6 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <h4><i class="fa fa-paper-plane fa-4x" aria-hidden="true"></i></h4>
              <h4>NITTS Webinar Gratuit</h4>
              <p>
                Plus aucune excuse pour ne pas passer au webinaire
              </p>
            </div>
            <table class="table">
              <tr class="text-center">
                <td>
                  <h4 class="h1">0 € à vie</h4>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Jusqu'à 50 participants inscrits
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Partage de votre écran en direct en 2 clics
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Plusieurs présentateurs simultanés
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Enregistrement de la conférence
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Diffusion en playback d'une vidéo préenregistrée
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Chat instantané pour interagir avec votre audience
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Capture des emails des participants
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Envoi automatique d'email d'inscription
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Partage de lien simplifié
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-center">
                    Inscription gratuite immédiate :
                  </p>
                  <button ng-if="!session.isAuthenticated()" class="btn btn-default btn-lg btn-block" nitts-session="register">Inscription</button>
                  <button ng-if="session.isAuthenticated()" class="btn btn-default btn-lg btn-block" disabled="disabled">Déjà inscrit</button>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="panel panel-success">
            <div class="panel-heading text-center">
              <h4><i class="fa fa-rocket fa-4x" aria-hidden="true"></i></h4>
              <h4>NITTS Webinar Premium</h4>
              <p>
                La puissance des webinaires pour décupler vos ventes, sans aucune limite !
              </p>
            </div>
            <table class="table">
              <tr class="text-center">
                <td class="success">
                  <h4 class="h1 text-success">29 € / mois</h4>
                </td>
              </tr>
              <tr>
                <td class="success text-success">
                  <i class="fa fa-check"></i> 1000 participants et au delà
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Partage de votre écran en direct en 2 clics
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Plusieurs présentateurs simultanés
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Enregistrement de la conférence
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Diffusion en playback d'une vidéo préenregistrée
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Chat instantané pour interagir avec votre audience
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Capture des emails des participants
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Envoi automatique d'email d'inscription
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-check"></i> Partage de lien simplifié
                </td>
              </tr>
              <tr>
                <td class="success text-success">
                  <i class="fa fa-check"></i> Assistance technique prioritaire
                </td>
              </tr>
              <tr>
                <td class="success text-success">
                  <i class="fa fa-check"></i> Accès aux nouveautés en priorité
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-center text-success">
                    Passez tout de suite au niveau supérieur :
                  </p>
                  <button ng-if="session.getUser().accountType != 'premium'" class="btn btn-success btn-lg btn-block" payment amount="29" membership="premium"><i class="fa fa-rocket fa-lg" aria-hidden="true"></i> Plan Premium !</button>
                  <button ng-if="session.getUser().accountType == 'premium'" class="btn btn-success btn-lg btn-block" disabled="disabled"><i class="fa fa-rocket fa-lg" aria-hidden="true"></i> Déjà membre premium</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br />

</div>
<br />
<footer>
  <div class="row">
    <div class="text-right">
    </div>
  </div>
</footer>
