<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Jeremy Hermelin">

	<link rel="shortcut icon" href="/assets/img/ico/favicon.png">

	<title>{{ page.title }} | NITTS Webinar</title>
	<!-- styles -->
  <link rel="stylesheet" href="/assets/style/main.css">
	<script src="https://use.fontawesome.com/1a5648b40b.js"></script>
	<!-- <link href="/css/jumbotron-narrow.css" rel="stylesheet"> -->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
	<!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}


  <!-- <script src="script.js"></script> -->
</head>
