<!-- navbar -->
<nav id="mainNav" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><b><span class="text-primary">NITTS</span></b> WEBINAR</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" uib-collapse="navbarCollapsed">
            <!-- Navbar for logged-in user -->
            <ul nitts-session="data" class="nav navbar-nav navbar-right">

                <!-- displayed when not already premium -->
                <!-- <li ng-if="session.getUser().accountType != 'premium'">
                    <a href="{{ site.url }}/niveau-superieur">
                        <button class="btn btn-primary"><i class="fa fa-rocket fa-lg" aria-hidden="true"></i> Passer en version premium</button>
                    </a>
                </li> -->

                <!-- displayed when logged out -->
                <!-- <li ng-if="!session.isAuthenticated()">
                  <a role="button" nitts-session="register">Essayer gratuitement</a>
                </li>
                <li ng-if="!session.isAuthenticated()">
                  <a role="button" class="dropdown" nitts-session="authenticate" uib-dropdown-toggle><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</a>
                </li> -->

                <!-- displayed when logged in -->
                <!-- <li uib-dropdown ng-if="session.isAuthenticated()">
                  <a role="button" class="dropdown" uib-dropdown-toggle><i class="fa fa-user" aria-hidden="true"></i> <span ng-bind="session.getUser().username"></span> <span class="caret"></span></a>
                  <ul class="dropdown-menu" uib-dropdown-menu>
                    <li>
                      <a href="https://www.nittswebinar.com/fr/utilisateur"><i class="fa fa-key" aria-hidden="true"></i> Compte</a>
                    </li>
                    <li>
                        <a href="https://nittswebinar.com/fr/dashboard"><i class="fa fa-bar-chart" aria-hidden="true"></i> Tableau de bord</a>
                    </li>
                    <li>
                      <a role="button" nitts-session="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Deconnexion</a>
                    </li>
                  </ul>
                </li> -->
                <li uib-dropdown>
                  <a role="button" class="dropdown" uib-dropdown-toggle><i class="fa fa-question-circle" aria-hidden="true"></i> Besoin d'aide ?</a>
                  <ul class="dropdown-menu" uib-dropdown-menu>
                    <li>
                      <a role="button" contact-me><i class="fa fa-envelope" aria-hidden="true"></i> Contacter le support</a>
                    </li>
                  </ul>
                <!-- </li> -->

            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- navbar -->
