<!-- javascript at the end of the doc so page loads faster -->

<script src="/assets/scripts/nittsapp/nittsapp/modules/controllers/viewer.js"></script>
<script src="/assets/scripts/nittsapp/nittsapp/modules/controllers/viewer/viewer.join.finished.js"></script>
<script src="/assets/scripts/nittsapp/nittsapp/modules/controllers/viewer/viewer.join.js"></script>
<script src="/assets/scripts/nittsapp/nittsapp/modules/controllers/viewer/viewer.join.live.js"></script>
<script src="/assets/scripts/nittsapp/nittsapp/modules/controllers/viewer/viewer.join.replay.js"></script>
<script src="/assets/scripts/nittsapp/nittsapp/modules/controllers/viewer/viewer.join.waitingRoom.js"></script>
<script src="/assets/scripts/nittsapp/nittsapp/modules/controllers/viewer/viewer.register.js"></script>
