<!-- javascript at the end of the doc so page loads faster -->

<!--  Added scripts for nitts app -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script src="{{ site.url }}/assets/scripts/modules/sails.io.js"></script>
<script src="{{ site.url }}/assets/scripts/modules/angular-sanitize.js"></script>
<script src="{{ site.url }}/assets/scripts/modules/angular-ui-router.js"></script>

<script src="{{ site.url }}/assets/scripts/nittsapp/index.js"></script>

<script src="{{ site.url }}/assets/scripts/nittsapp/modules/controllers/chat.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/controllers/dashboard.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/controllers/dashboard/dash.conf.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/controllers/dashboard/dash.modify.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/controllers/dashboard/dash.plan.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/controllers/dashboard/dash.settings.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/controllers/dashboard/dash.stats.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/controllers/direct.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/controllers/link.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/controllers/user/user.affiliation.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/controllers/user/user.js"></script>

<script src="{{ site.url }}/assets/scripts/nittsapp/modules/directives/eventProgressBar.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/directives/hangoutButton.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/directives/youtube.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/services/sgautorepondeur.js"></script>
<script src="{{ site.url }}/assets/scripts/nittsapp/modules/services/socket.js"></script>
<!--SCRIPTS END-->
