<!-- javascript at the end of the doc so page loads faster -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<script src="/assets/scripts/modules/mixpanel.js"></script>
<script src="/assets/scripts/modules/xeditable.js"></script>
<script src="/assets/scripts/modules/angular-cookies.js"></script>
<script src="/assets/scripts/modules/a.moment.js"></script>
<script src="/assets/scripts/modules/angular-moment.js"></script>
<script src="/assets/scripts/modules/locale/fr.js"></script>
<script src="/assets/scripts/modules/ui-bootstrap-tpls-1.3.2.js"></script>

<script src="/assets/scripts/nittsui/index.js"></script>

<script src="/assets/scripts/nittsui/modules/directives/contact.js"></script>
<script src="/assets/scripts/nittsui/modules/directives/countdown.js"></script>
<script src="/assets/scripts/nittsui/modules/directives/sessionButton.js"></script>
<script src="/assets/scripts/nittsui/modules/directives/upgrade.js"></script>
<script src="/assets/scripts/nittsui/modules/directives/youtube.js"></script>
<script src="/assets/scripts/nittsui/modules/services/alert.js"></script>
<script src="/assets/scripts/nittsui/modules/services/api.js"></script>
<script src="/assets/scripts/nittsui/modules/services/session.js"></script>
