<!DOCTYPE html>
<html lang="fr" ng-app="nittsUI" ng-strict-di>

  {% include head.html %}

  <body>
    <nav>
    		<ul>
            <li>
              <img style="width: 80px; " src="/assets/img/NITTSWEBINAR.png" alt="logo Nitts Webinar" />
            </li>
        		<li>
              <a href="/">Maison</a>
            </li>
	        	<li>
              <a href="/about">A propos</a>
            </li>
        		<li>
              <a href="/blog">Blog</a>
            </li>
    		</ul>
		</nav>
    <!-- page content -->

    <div class="container">

      {{ content }}

		</div><!-- /.container -->

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
